{% set api = salt['grains.filter_by']({
    'Debian': {
      'version': 'mitaka',
      'java': 'default-jre',
      'source': 'http://tarballs.openstack.org/ci/monasca-api/monasca-api-1.1.0-SNAPSHOT-shaded.jar',
      'source_hash': 'md5=eca51f149bf7bb275b8b7398a7b04842',
      'service_name': 'monasca-api',
    },
    'RedHat': {
      'version': 'mitaka',
      'service_name': 'monasca-api',
    },
}, merge=pillar.monasca.get('api', {})) %}
